*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #bebcbc;
  width: 30vw;
  height: 70vh;
  border: none;
  border-radius: 10px;
}

.App h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
}

.input-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

label{
  font-size: 40px;
  color: blue;
}

.input{
  height: 10vh;
  width: 27vw;
  outline: none;
}

#submit{
  width: 10vw;
  height: 10vh;
  align-content: center;
  outline: none;
  border: none;
}



